body {
    background-color: #ffffff;
    margin: 0px;
}

a:link {
    color: #6699cc;
    text-decoration: none;
}

a:visited {
    color: #6699cc;
    text-decoration: none;
}

a:hover {
    color: hotpink;
}

h1 {
    color: #339966;
    font: bold 25px Lucida Grande;
}

h2 {
	font-family: "Lucida Grande";
    color: #339966;
  	font: 18px Lucida Grande;
  	margin-bottom: -10px; 
}

h3 {
	font-family: "Lucida Grande";
    color: #666666;
  	font: bold 0px Lucida Grande;
  	margin-top: -4px; 
}


h4 {
	font-family: "Lucida Grande";
    color: #339966;
  	font: bold 30px Lucida Grande;
  	line-height: 1.0;
}

h5 {
	font-family: "Lucida Grande";
    color: #666666;
  	font: 18px Lucida Grande;
  	//adding-top: -40px;
  	line-height: 1.3;
  	margin-top: -30px; 
  	//height: 10%;
}

h6 {
	font-family: "Lucida Grande";
    color: #666666;
  	font: bold 18px Lucida Grande;
  	margin-bottom: 15px; 
  	margin-top: -0px; 
}


p {
    font-family: "Lucida Grande";
    color: #666666;
    font: 15px Lucida Grande;
    text-align: left;
    margin-top: -10px; 
}

div.lessons {
    background-color:#e3ffe3;
    //margin-left:20px;
    margin: 0px;
    padding:20px;
    padding-top: 1px;
    padding-bottom: 3px;
    outline-style: solid;
    outline-color: #38bb7a;
   	outline-width: 1px;
    padding-left: 30px;
} 

div.lessonsPast {
    background-color:#f1f2f2;
    //margin-left:20px;
    margin: 0px;
    padding:20px;
    padding-top: 1px;
    padding-bottom: 3px;
    outline-style: solid;
    outline-color: #38bb7a;
    outline-width: 1px;
    padding-left: 30px;
} 
div.distance {
    background-color:#ffffff;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: -9px; 
} 
div.distance2 {
    background-color:#ffffff;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 30px; 
} 
div.indent {
    //text-indent: 100px;
    margin-left: 100px;
} 
div.indent2 {
    //text-indent: 75px;
} 
div.headli {
    background-color:#ffffff;
    margin:10px;
    padding:20px;
    padding-top: 0px;
    padding-bottom: 0px;
} 
